<div class="portal-sidebar">
  <ul class="portal-menu">
    <li><a href="/sp/assignments"><i class="fa fa-tasks"></i> Assignments</a></li>
    <li><a href="/sp/calendar"><i class="fa fa-calendar"></i> Calendar</a></li>
    <li><a href="/sp/courses"><i class="fa fa-book"></i> Courses</a></li>
    <li><a href="/sp/feedback"><i class="fa fa-comment"></i> Feedback</a></li>
    <li><a href="/sp/appointments"><i class="fa fa-user-clock"></i> Appointments</a></li>
    <li><a href="/sp/student_log"><i class="fa fa-clipboard"></i> Student Log</a></li>
    <li><a href="/sp/about_me"><i class="fa fa-user"></i> About Me</a></li>
  </ul>
</div>
