<div class="about-me-section">
  {% if student %}
  <div class="student-photo">
      {% if student.student_image %}
      <img src="{{ student.student_image }}" alt="Student Photo" style="max-width: 200px; max-height: 200px; border-radius: 50%; margin: 0 auto; display: block;">
      {% else %}
      <div class="avatar avatar-medium" style="margin: 0 auto;">
          <div class="avatar-frame" style="background-color: var(--light-blue-500);">
              {{ student.student_full_name[0] }}
          </div>
      </div>
      {% endif %}
  </div>
  <div class="student-info">
      <h2>{{ student.student_full_name }}</h2>
      <p><b>First Name:</b> {{ student.student_first_name }}</p>
      <p><b>Last Name:</b> {{ student.student_last_name }}</p>
      {% if student.student_preferred_name %}
      <p><b>Preferred Name:</b> {{ student.student_preferred_name }}</p>
      {% endif %}
      <p><b>Date of Birth:</b> {{ student.student_date_of_birth }}</p>
      <p><b>Mobile Number:</b> {{ student.student_mobile_number }}</p>
      <p><b>Email:</b> {{ student.student_email }}</p>
      <p><a href="{{ student_url }}">View Student Profile</a></p>
  </div>
  {% else %}
  <p>Could not retrieve student information.</p>
  {% endif %}
</div>