/* ifitwala_ed/public/website/website.css */
@import "tailwindcss" source(none);
@source "../../website/templates/**/*.html";
@source "../../website/blocks/**/*.html";
@source "../../www/**/*.html";
@source "./**/*.js";

@layer base {
	img[loading="lazy"],
	img[fallback="carousel"] {
		opacity: 0;
		transition: opacity 0.6s ease-in-out;
	}

	img[loading="lazy"].loaded,
	img[fallback="carousel"].loaded {
		opacity: 1;
	}
}

@layer utilities {
	.clamped-text {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 5;
		overflow: hidden;
	}

	.clamped-text.expanded {
		-webkit-line-clamp: unset;
	}
}
