<div class="list-group list-group-flush portal-sidebar">
  <a href="/sp/assignments" class="list-group-item list-group-item-action">Assignments</a>
  <a href="/sp/calendar" class="list-group-item list-group-item-action">Calendar</a>
  <a href="/sp/courses" class="list-group-item list-group-item-action">Courses</a>
  <a href="/sp/feedback" class="list-group-item list-group-item-action">Feedback</a>
  <a href="/sp/appointments" class="list-group-item list-group-item-action">Appointments</a>
  <a href="/sp/student_log" class="list-group-item list-group-item-action">Student Log</a>
  <a href="/sp/about_me" class="list-group-item list-group-item-action">About Me</a>
</div>
