@import "tailwindcss";
@import "./styles/tokens.css";
@import "./styles/app.css";
@import "./styles/layout.css";
@import "./styles/components.css";

@config "../tailwind.config.js";

/* ui-spa/src/style.css */
