{% macro student_card(title="", description="", link="", icon="") %}
<div class="col-md-4 mb-4">
    <a href="{{ link }}" class="no-decoration">
        <div class="card shadow-sm h-100 student-card">
            <div class="card-body d-flex flex-column align-items-center">
                {% if icon %}
                <div class="icon-container mb-3">
                    <i class="{{ icon }} fa-2x"></i>
                </div>
                {% endif %}
                <h5 class="card-title text-center">{{ title }}</h5>
                {% if description %}
                <p class="card-text text-center">{{ description }}</p>
                {% endif %}
            </div>
        </div>
    </a>
</div>
{% endmacro %}