{% extends "templates/base.html" %}

{% block title %}Student Portal{% endblock %}

{% block head_include %}
<link rel="stylesheet" href="/assets/ifitwala_ed/css/student_portal.css">
<link rel="stylesheet" href="/assets/frappe/css/fonts/fontawesome/font-awesome.min.css">
{% endblock %}

{% block content %}
<div class="container">
  <div class="student-info">
    <img src="{{ student_image }}" alt="Student Image">
    <h1>Welcome {{ student_preferred_name }}</h1>
  </div>

  <div class="portal-container">
    <div class="portal-card">
      <div class="portal-card-placeholder">
        <i class="fa fa-tasks"></i>
        <span>Assignments</span>
      </div>
    </div>
    <div class="portal-card">
      <div class="portal-card-placeholder">
        <i class="fa fa-calendar"></i>
        <span>Calendar</span>
      </div>
    </div>
    <div class="portal-card">
      <div class="portal-card-placeholder">
        <i class="fa fa-book"></i>
        <span>Courses</span>
      </div>
    </div>
    <div class="portal-card">
      <div class="portal-card-placeholder">
        <i class="fa fa-comment"></i>
        <span>Feedback</span>
      </div>
    </div>
    <div class="portal-card">
      <div class="portal-card-placeholder">
        <i class="fa fa-user-clock"></i>
        <span>Appointments</span>
      </div>
    </div>
    <div class="portal-card">
      <div class="portal-card-placeholder">
        <i class="fa fa-clipboard"></i>
        <span>Student Log</span>
      </div>
    </div>
    <div class="portal-card">
      <a href="/sp/about_me" class="no-decoration">
        <div class="portal-card-placeholder">
          <img src="{{ student_image }}" 
               alt="Student Image"
               style="width: 80px; height: 80px; border-radius: 50%; margin-bottom: 1rem;">
          <span>About Me</span>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}
